@CHARSET "UTF-8";

a.rph_widget_admin_options {
	font-size: 6pt !important;
	display: inline !important;
	padding: 0 !important;
}

ul.rph_widget table, ul.rph_widget tr, ul.rph_widget td {
	border: 0 !important;
}

ul.rph_widget table {
	margin: 0 !important; 
	width: 100% !important;
}

ul.rph_widget table img {
	vertical-align: middle !important;
}

ul.rph_widget table.rph_widget_admin_options {
	opacity: .6;
}

ul.rph_widget table.rph_widget_admin_options td {
	padding: 0;
}

ul.rph_widget table.rph_widget_admin_options span {
	font-size: 6pt;
}

ul.rph_widget tr {
	
}